<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Test Sieve By Vinicius Teles Bezerra</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/bootstrap.css" media="all" rel="stylesheet" />
    <script src="/static/js/jquery.js"></script>
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/priorize_products.js"></script>
  </head>

  <body>
    <nav class="navbar navbar-inverse" style="color: white;">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

          <a class="navbar-brand" href="{% url 'home' %}">Home</a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}

            <ul class="nav navbar-nav">
              <li>
                <a href="{% url 'home' %}">Products List</a>
              </li>

              <li>
                <a href="{% url 'product_status' %}">Priority List</a>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                  {{ user.username }} <span class="caret"></span>
                </a>

                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a href="{% url 'logout' %}">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>

          {% endif %}
        </div>
      </div>
    </nav>

    <main>
      <div class="container">
        <div class="alert alert-info" role="alert" style="display: none;"></div>

        {% block content %}{% endblock %}
      </div>
    </main>

  </body>
</html>
