{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Product</h3>
        </div>

        <div class="panel-body">
          <table class="table table-hover table-responsive">
            <tr>
              <th>#</th>
              <th>Name</th>
            </tr>

            <tr>
              <td></td>
              <td>{{ product.name }}</td>
            </tr>
          </table>

        </div>
      </div>

    </div>
  </div>

{% endblock %}
