{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Products Prioritized</h3>
        </div>

        <div class="panel-body">
          <table class="table table-hover table-responsive">

            <tr>
              <th>#</th>
              <th>Prioritized?</th>
              <th>Name</th>
            </tr>

            {% for product in object_list %}

              <tr>
                <td></td>
                <td>{{ product.priority }}</td>
                <td>{{ product.name }}</td>
              </tr>

            {% empty %}

              <tr>
                <td>No Products Prioritized Yet</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

            {% endfor %}

          </table>

          {% if is_paginated %}
            <div>
              <ul class="pager">
                <li>
                  {% if page_obj.has_previous %}
                      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
                  {% endif %}
                </li>

                <li>
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </li>

                <li>
                  {% if page_obj.has_next %}
                      <a href="?page={{ page_obj.next_page_number }}">Next</a>
                  {% endif %}
                </li>
              </ul>
            </div>
          {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock %}
