{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Logged out!</h3>
        </div>

        <div class="panel-body">
          <p><h4><a href="{% url 'django.contrib.auth.views.login' %}">Login Again</a></h4></p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
