{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login!</h3>
        </div>

        <div class="panel-body">
          {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
          {% endif %}

          <p><h4><a href="{% url 'registration_register' %}">Sign Up</a></h4></p>

          <form method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <table>
              <tr>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
              </tr>
              <tr>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
              </tr>
            </table>

            <input type="submit" value="login" />
            <input type="hidden" name="next" value="{{ next }}" />
          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
