{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login!</h3>
        </div>

        <div class="panel-body">
          <p>Success you are registered, go to <a href="{% url 'home' %}">Home</a> to see your products</p>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
