{% extends "base.html" %}

{% block content %}

  <div class="row">
    <div class="col-sm-12">

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Login!</h3>
        </div>

        <div class="panel-body">

          <form method="post" action="">
            {% csrf_token %}

            {{ form.as_p }}

            <input type="submit" value="Submit" />
          </form>
        </div>
      </div>

    </div>
  </div>

{% endblock %}
